<div>

    <input type="text" name="" class="txt-direccion" #inputPlaces
    placeholder=" Ingrese la dirección "
    [autocomplete]="true">

    <google-map [options]="options" width="100%" height="574"
    class="map">

    <map-marker *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions"
      [clickable]="true"
      (positionChanged)="showValues()"></map-marker>
  </google-map>

  <button class="btn btn-primary btn-registrar" type="button">Registrar</button>
  <button class="btn btn-primary btn-cancelar" type="button"
    routerLink="/">Cancelar</button>
</div>


