<div *ngIf="correctAddress == true" style="width: 100%; height: 100%;">

    <google-map [options]="options"  width="100%" height="100%" style="object-fit: fill;"
    id="map"
    [center]="centerPosition">
    <map-marker *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions"
      [clickable]="true"></map-marker>
  </google-map>


</div>

<div *ngIf="correctAddress == false">
  <br>
  <h1 style="text-align: center; font-weight:bolder; font-size: 45px;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="height: 64px; width: 64px;background-color: rgb(231, 15, 15) ; font-weight:bolder; color: white; border-radius: 100%; border: 3px solid white;"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
    </svg>

   Estimado usuario:</h1>

   <h3 style="text-align: center; font-weight:bolder; font-size: 20px;"> La dirección ingresada no es válida tiene párametros incorrectos</h3>


    <img    src="https://res.cloudinary.com/utn-csoft/image/upload/v1668690822/se%C3%B1al_yygvxz.webp" alt="" srcset="" width="350" height="350" style="display: block;
    margin-left: auto;
    margin-right: auto;">

</div>


