<div class="container">


  <br>
  <br>
  <br>
  <br>
  <table class="table table-striped table-bordered" style="margin-left: 4cm;">
    <thead>
      <tr>
        <th scope="col">Tipo de dirección</th>
        <th scope="col">Dirección</th>
        <th scope="col">Opción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jacob</td>
        <td>Domicilio</td>
        <td><button type="button" class="btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="color: white; padding:
            0.12cm;">Actualizar <i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button></td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Trabajo</td>
        <td><button type="button" class="btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="color: white;padding:
            0.12cm;">Actualizar <i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button></td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Domicilio</td>
        <td><button type="button" class="btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="color: white; padding:
            0.12cm;">Actualizar <i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">

        <input type="text" name="" class="txt-direccion" #inputPlaces
          placeholder=" Ingrese la dirección "
          [autocomplete]="true">

      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <google-map [options]="options" width="100%" height="578"
              class="map"
              (mapClick)="addMarker($event)">

              <map-marker *ngFor="let markerPosition of markerPositions"
                [position]="markerPosition"
                [options]="markerOptions"
                [clickable]="true"
                (positionChanged)="showValues()"></map-marker>
            </google-map>
          </div>

          <button class="btn btn-primary btn-registrar" type="button">Registrar</button>
          <button class="btn btn-primary btn-cancelar" type="button"
            data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>


    </div>
  </div>
</div>
